.Cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.Card {
    border: 1px solid;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.Card > h3 {
    margin: 10px;
}

.Card > p {
    padding: 10px;
}