.Main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.About-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.About-block > p {
    padding: 20px 100px 20px 100px;
    text-align: center;
}