.Main-block {
    display: flex;flex-direction: column;
    align-items: center;
}

.Home-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.Container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
    padding-top: 20px;
}

.Container-title{
    margin: 20px;
}

.Container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    text-shadow: 0 15px 60px rgba(0, 0, 0, .5);
}

.Container .card .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container .card .face.face1 {
    box-sizing: border-box;
    padding: 20px;
}

.container .card .face.face1 h2 {
    margin: 0;
    padding: 0;
}

.container .card .face.face2 {
    background: #111;
    transition: .5s;
}

.container .card:first-child .face.face2 {
    background: linear-gradient(45deg, #3503ad, #f7308c);
}

.container .card:nth-child(2) .face.face2 {
    background: linear-gradient(45deg, #ccff00, #09afff);
}

.Container .card:last-child .face.face2 {
    background: linear-gradient(45deg, #e91e63, #ffeb3b);
}

.Container .card:hover .face.face2 {
    height: 60px;
}

.Container .card .face.face2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
}

.Container .card .face.face2 h2 {
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #ffffff;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.Container .card:hover .face.face2 h2 {
    font-size: 2em;
}