.Main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.Contacts-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contacts-block > h1 {
    margin: 10px;
}

.Subtitle-text {
    padding: 20px 90px 20px 90px;
    text-align: center;
}

.Subtext {
    padding: 20px 90px 20px 90px;
}